@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.RegisterView-title {
	font-size: 24px;
	padding: 0 24px;
}

.RegisterView-list {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #f0f0f0;
}

.RegisterItem {
	margin: 0;
	padding: 8px 24px;
	border-bottom: 1px solid #f0f0f0;
}

.RegisterItem-name {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.RegisterItem-email {
	font-size: 14px;
	margin-top: 4px;
	font-style: italic;
	color: #888;
}

.RegisterItem-description {
	font-size: 14px;
	margin-top: 4px;
}

.RegisterForm {
	padding: 8px 24px;
}

.RegisterForm>input, .RegisterForm>textarea {
	display: block;
	width: 240px;
	padding: 4px 8px;
	margin-bottom: 8px;
	border-radius: 3px;
	border: 1px solid #888;
	font-size: 14px;
}
