@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

span.validation-error {
	color: red;
} 
#leftmenu {
	float : left;
}
#rightmenu {
	float : right;
}
ul.catmenu {
	display : block;
	margin : 0;
	padding : 0;
}
ul.catmenu li ul {
	display : none;
	position : absolute;
	top : 45px;
	left : 0;
	margin : 0;
	padding : 10px 0;
}
ul.catmenu li:hover ul {
	display : block;
	background-color : #ffffff; 
}
ul.catmenu li {
	display : block;
	position : relative;
}
ul.catmenu>li {
}
ul.catmenu li li {
	min-width : 250px;
}
ul.catmenu li a {
	padding-left : 15px;
	padding-right : 15px;
}
ul.catmenu li:hover a {
	background-color : #ffffff;
}