@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

span.validation-error {
	color: red;
} 
#leftmenu {
	float : left;
	position : relative;
	width : 100%;
}
#rightmenu {
	float : right;
}
ul.catmenu li a {
	padding-left : 15px;
	padding-right : 15px;
}
ul.catmenu li:hover a {
	background-color : #ffffff;
}

ul.catmenu {
	position : absolute;
	top : 0;
	left : 0;
	display : block;
	margin : 0;
	padding : 0;
}
ul.catmenu li {
	display : block;
	vertical-align : top;
}
ul.catmenu li ul {
	display : block;
	margin : 0;
	padding : 0 0;
}
ul.catmenu li:hover ul {
	display : block;
	background-color : #ffffff; 
}
ul.catmenu li ul li {
	display : inline-block;
}
ul.catmenu li ul li ul {
	display : block;
}
ul.catmenu li ul li ul li {
	display : block;
}
ul.catmenu>li>ul {
	display : none;
}
ul.catmenu>li:hover>ul {
	display : block;
}


#rightmenu ul {}
#rightmenu ul li {}
#rightmenu ul li:hover a {background-color : #ffffff;}
#rightmenu ul>li {position : relative;}
#rightmenu ul>li>ul {display : none; position : absolute; top : 40px; right : 0;}
#rightmenu ul>li:hover>ul {display : block;}
#rightmenu ul>li>ul>li {display : block;}