@import "variables";

.border {border-color: $border-color;border-width : $border-width;}
.border-dark {border-color: $border-color-dark;}
.border-top {@extend .border;border-top-style: $border-style;}
.border-right {@extend .border;border-right-style: $border-style;}
.border-bottom {@extend .border;border-bottom-style: $border-style;}
.border-left {@extend .border;border-left-style: $border-style;}
.border-all {@extend .border-top, .border-right, .border-bottom, .border-left;}

.grounded-s {border-radius: $ssmall;}
.grounded-m {border-radius: $smedium;}
.grounded-b {border-radius: $sbig;}

.no-margin {margin: 0;}
.no-padding {padding: 0;}
.no-margin-padding {margin: 0;padding: 0;}

a {}
a:hover {text-decoration: none !important;}

/**
 * Icons
 */
.icon-heart {background-color: transparent;background-image: url('../images/icon-heart.png');display: block;height: 24px;width: 24px;cursor: pointer;}

.ui-autocomplete {
	.ui-menu-item {
		.ui-corner-all {background-color: aliceblue;}
		.ui-state-focus {background-color: #23527c !important;}
	}
}
.item-summary {
	min-height: $item-summary-height;
	.label {display: none;}
	.expired-label {@extend .no-margin-padding;display: initial;}
	.new,.used {
		@extend .grounded-s;
		display: inline-block;
	    margin-right: $sbig;
	    border: 1px solid;
	    padding: 2px $smedium;
	    font-size: $fxsmall;
	    margin-top: $ssmall;
	}
	.new {
		border-color: $primary-color-opp;
		color: $primary-color-opp;
	}
	.used {
		border-color: $primary-color;
		color: $primary-color;
	}
	.item-title {
		a {
			span {}
		}
	}
	.item-date {
		padding: 3px 0;
		a {
			span {
				font-style: italic;
				font-size: $fsmall;
				color: gainsboro !important;
			}
			.datetimeformat {
				margin-left: 3px; 
			}
		}
	}
	.item-created, .item-updated,.item-expired {@extend .item-date;}
	.item-prices {
		font-size: $fsmall;clear: both;margin: $smedium 0;
		.item-price {
			span {}
			.currency-sign {margin-right: 3px;}
			.currency-value {}
			.label {}
		}
		.item-originalprice {
			@extend .item-price;
			.currency-sign {color: $primary-color;}
			.currency-value {color: $primary-color;text-decoration: line-through;}
		}
		.item-saleprice {
			@extend .item-price;
			.currency-sign {color: violet;}
			.currency-value {color: violet;text-decoration: line-through;}
		}
		.item-nowprice {
			@extend .item-price;
			.currency-sign {color: $primary-color-opp;}
			.currency-value {color: $primary-color-opp;text-decoration: blink;}
		}
	}
	.item-inline-prices {
		@extend .item-prices;
		.item-price {display: inline-block; margin: $ssmall $sbig 0 0;}
	}
	.item-block-prices {
		@extend .item-prices;
		.item-price {display: block; margin: 7px 0 7px 0;}
	}
}
.item-detail-wrapper {
	.item-detail {

	}
}

.item-list {
	@extend .border-top,.border-left;
	margin-top: $sbig;
}
.item {
	@extend .border-bottom,.border-right;
	padding: 0 $ssmall;
	.item-firstimage {
		@extend .border-bottom;
		padding: $ssmall;
		margin-bottom: $ssmall;
		.item-firstimage-wrapper {
			@extend .border-all,.grounded-m;
			height: $item-image-height;
			width: ($item-image-width + 4*$border-width);
			overflow: hidden;
			margin: auto;
			padding: $border-width;
			position: relative;
			img {
				@extend .grounded-m;
				width: $item-image-width;
			}
			a.icon-heart {
				display: none;
				position: absolute;
				top: $sbig;
				right: $sbig;
			}
		}
	}
	.item-firstimage:hover {
		.item-firstimage-wrapper {
			a.icon-heart {
				display: block;
			}
		}
	}
}
.item-first {
	@extend .item;
}

.btn-buy span, .btn-sell span,.btn-more span {
	@extend .border-all;
	display: inline-block;
	padding: $ssmall;
	cursor: pointer;
}
.btn-buy span {
	border-radius: $sbig $ssmall;
	color: $primary-color-opp2;
	border-color: $primary-color-opp2;
	padding: $ssmall $sbig;
}
.btn-sell span {
	@extend .grounded-b;
	color: $primary-color;
	border-color: $primary-color-opp;
}
.btn-more span {
	@extend .grounded-s;
	color: $primary-color-opp;
	border-color: $primary-color;
}

.btn-buy a:hover span, .btn-sell a:hover span,.btn-more a:hover span {background-color: $btn-hover-bg-color;}

.form-radio-label,.form-checkbox-label {
	display: block;
}
.first-checkbox,.first-radio {
	margin-left: 3px !important;
}

.cat-detail .cat-name {display: none;}

.userbox {
	@extend .border-top;padding: $smedium 0 $sbig;
	img {@extend .grounded-b; width: 40px;margin-right: $ssmall;}
	a {
		span {font-size: $fsmall;}
	}
}
.image-gallery-slide img {@extend .grounded-s;max-height: 311px;width: auto;margin: auto;display: block;}
.image-gallery-thumbnail img{@extend .grounded-s;max-height: 80px;}
.image-gallery-image {background-color: $image-gallery-image-bg;}

