@import "variables";
@import "node_modules/rc-switch/assets/index";
@import "icons";

.border {border-color: $border-color;border-width : $border-width;}
.border-dark {border-color: $border-color-dark;}
.border-top {@extend .border;border-top-style: $border-style;}
.border-right {@extend .border;border-right-style: $border-style;}
.border-bottom {@extend .border;border-bottom-style: $border-style;}
.border-left {@extend .border;border-left-style: $border-style;}
.border-all {@extend .border-top, .border-right, .border-bottom, .border-left;}
.border-none {border: none;}

.grounded-s {border-radius: $ssmall;}
.grounded-m {border-radius: $smedium;}
.grounded-b {border-radius: $sbig;}

.no-margin {margin: 0;}
.no-padding {padding: 0;}
.no-margin-padding {margin: 0;padding: 0;}

a {cursor: pointer;}
a:hover {text-decoration: none !important;}

.ui-autocomplete {
	.ui-menu-item {
		.ui-corner-all {background-color: aliceblue;}
		.ui-state-focus {background-color: #23527c !important;}
	}
}
.item-summary {
	min-height: $item-summary-height;
	.label {display: none;}
	.expired-label {@extend .no-margin-padding;display: initial;}
	.new,.used {
		@extend .grounded-s;
		clear: both;
			display: block;
			float: left;
			margin-right: $sbig;
			border: 1px solid;
			padding: 2px $smedium;
			font-size: $fxsmall;
			margin-top: $ssmall;
	}
	.new {
		border-color: $primary-color-opp;
		color: $primary-color-opp;
	}
	.used {
		border-color: $primary-color;
		color: $primary-color;
	}
	.item-title {
		a {
			span {}
		}
	}
	.item-date {
		padding: 3px 0;
		a {
			span {
				font-style: italic;
				font-size: $fsmall;
				color: $disabled-color !important;
			}
			.datetimeformat {
				margin-left: 3px; 
			}
		}
	}
	.item-created, .item-updated,.item-expired {@extend .item-date;}
	.item-prices {
		font-size: $fsmall;clear: both;margin: $smedium 0;float: left;
		.item-price {
			span {}
			.currency-sign {margin-right: 3px;}
			.currency-value {}
			.label {}
		}
		.item-originalprice {
			@extend .item-price;
			.currency-sign {color: $primary-color;}
			.currency-value {color: $primary-color;text-decoration: line-through;}
		}
		.item-saleprice {
			@extend .item-price;
			.currency-sign {color: violet;}
			.currency-value {color: violet;text-decoration: line-through;}
		}
		.item-nowprice {
			@extend .item-price;
			.currency-sign {color: $primary-color-opp;}
			.currency-value {color: $primary-color-opp;text-decoration: blink;}
		}
	}
	.item-inline-prices {
		@extend .item-prices;
		.item-price {display: inline-block; margin: $ssmall $sbig 0 0;}
	}
	.item-block-prices {
		@extend .item-prices;
		.item-price {display: block; margin: 7px 0 7px 0;}
	}
	.likes {
		float: right;clear: right;line-height: $icon-size;
		font-size: $fsmall;margin: $smedium $smedium $smedium 0;
		.amount {
			display: inline-block;vertical-align: top;margin-right: $sxsmall;color: $disabled-color;font-style: italic;
		}
		.amount::before {
			content: '( '
		}
		.amount::after {
			content: ' )'
		}
	}
	.icon-like {cursor: text;}
}
.item-detail-wrapper {
	.item-detail {

	}
}

.item-list {
	@extend .border-top,.border-left;
	margin-top: $sbig;
}
.item {
	@extend .border-bottom,.border-right;
	padding: 0 $ssmall;
	.item-firstimage {
		@extend .border-bottom;
		padding: $ssmall 0;
		margin-bottom: $ssmall;
		.item-firstimage-wrapper {
			@extend .border-all,.grounded-m;
			height: $item-image-height;
			width: $item-image-width;
			overflow: hidden;
			margin: auto;
			position: relative;
			img {
				@extend .grounded-m;
				width: $item-image-width;
			}
			a.icon-like {
				display: none;
				position: absolute;
				top: $sbig;
				right: $sbig;
			}
		}
	}
	.item-firstimage:hover {
		.item-firstimage-wrapper {
			a.icon-like {
				display: block;
			}
		}
	}
}
.guest .item .item-firstimage:hover .item-firstimage-wrapper a.icon-like {display: none !important;}

.item-first {
	@extend .item;
}

.btn-buy span, .btn-sell span,.btn-more span {
	@extend .border-all;
	display: inline-block;
	padding: $ssmall;
	cursor: pointer;
}
.btn-buy span {
	border-radius: $sbig $ssmall;
	color: $primary-color-opp2;
	border-color: $primary-color-opp2;
	padding: $ssmall $sbig;
}
.btn-sell span {
	@extend .grounded-b;
	color: $primary-color;
	border-color: $primary-color-opp;
}
.btn-more span {
	@extend .grounded-s;
	color: $primary-color-opp;
	border-color: $primary-color;
}

.btn-buy a:hover span, .btn-sell a:hover span,.btn-more a:hover span {background-color: $btn-hover-bg-color;}

.form-radio-label,.form-checkbox-label {
	display: block;
}
.first-checkbox,.first-radio {
	margin-left: 3px !important;
}

.cat-detail .cat-name {display: none;}

.userbox {
	@extend .border-top;padding: $smedium 0 $ssmall;position: relative;
	img {@extend .grounded-b; width: 40px;margin-right: $ssmall;}
	a.user-name {
		margin: $smedium;
		span {font-size: $fsmall;font-style: italic;color: lightskyblue;}
	}
	a.icon-chat {
		position: absolute;
		top: 0px;
		left: 38px;
		display: none;
	}
	a.icon-follow,a.icon-unfollow {
		position: absolute;
		bottom: 1px;
		left: 12px;
		display: none;
	}
}
.userbox:hover {
	a.icon {
		display: block;
	}
}

.image-gallery-slide img {@extend .grounded-s;max-height: 311px;width: auto;margin: auto;display: block;}
.image-gallery-thumbnail img{@extend .grounded-s;max-height: 80px;}
.image-gallery-image {background-color: $image-gallery-image-bg;}

/** MODE SWITCH **/
.form-group {
	.rc-switch {
		@extend .no-margin-padding;
		width: 50px;
	}
	.rc-switch-checked:after {
		left: 28px;
	}
} 		

$chatbox-width: 250px;
$chatbox-height: 322px;
$chatbox-header-height: 32px;
$chatbox-header-padding: 3px;
$chatbox-send-height: 32px;
$chatbox-messages-height: $chatbox-height - $chatbox-header-height - $chatbox-send-height; 
$chatbox-text-width: 165px;
/** CHATBOX **/
#chatbar {
	position: fixed; bottom: 0;right: $sbig;
	.chatbar {
		background-color: transparent;
		.chatbox {
			@extend .border-all;
			width: $chatbox-width;
			vertical-align: top;overflow: hidden;
			border-radius: $sbig;
			margin: 0 2px;
			background-color: lightgray;
			float: right;
			.header {
				width: 100%;height: $chatbox-header-height;
				border-top-left-radius: $sbig;border-top-right-radius: $sbig;
				background-color: lightblue;color: white;
				padding: $ssmall $sbig;overflow: hidden;
				.name {float: left}
				.close {@extend .icon,.border-all;}
				.toggle {@extend .close;}
			}
			.messages {
				width: 100%;height: $chatbox-messages-height;
				border-top-left-radius: $sbig;border-top-right-radius: $sbig;
				padding: $ssmall $sbig;
				font-size: $fsmall;
				overflow-x: hidden;
				overflow-y: auto;
				.chatitem {
						display: inline-block;
						max-width: 80%;
						line-height: 20px;
						padding: 2px $smedium;
						border-radius: $ssmall;
						clear: both;
						margin: $ssmall;
					.status {
						margin-top:5px;height: $smedium;width: $smedium;border-radius: $ssmall;background-color: $disabled-color; 
					}
				}
				.myitem {
					@extend .chatitem;
						text-align: right;
						background-color: white;
						float: right;
					.status {
						float: right;margin-left: 3px;
					}
				}
				.heritem,.hisitem {
					@extend .chatitem;
						text-align: left;
						background-color: darkgray;
						float: left;
					.status {
						float: left;margin-right: 3px;
					}
				}
				.created {
					color: $disabled-color;
					font-size: $fxsmall;
					display: none;
				}
			}
			.send {
				width: 100%;height: $chatbox-send-height;
				border-bottom-left-radius: $sbig;border-bottom-right-radius: $sbig;
				padding: $ssmall $sbig;background-color:white;
				font-size: $fsmall;vertical-align: top;text-align: left;
				input[type=text] {
					@extend .border-all,.no-margin-padding;
					float: left;line-height: 26px;height: 26px;
					width: $chatbox-text-width;
				}
				input[type=button] {
					@extend .border-all,.no-margin-padding;
					float: right;line-height: 26px;height: 26px;
					width: 53px;
					background-color: white;
					color: black;
				}
			}
		}
	}
}
