@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/react-image-gallery/src/image-gallery";

$sbig: 15px;
$smedium: 10px;
$ssmall: 5px;

$fbig: 15px;
$fmedium: 13px;
$fsmall: 12px;

$primary-color: #23527c;
$primary-color-opp: crimson;
$primary-color-opp2: forestgreen;
$warning-color: red;
$border-color: aliceblue;
$border-width: 1px;
$border-style: solid;
$border-color-dark: #23527c;
$menuitem-nonatomic-color: crimson;
$formview-background-color: aliceblue;
$leftmenu-background-color: #ffffff;
$rightmenu-background-color: transparent;

$navigation-height: 55px;