@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/react-image-gallery/src/image-gallery";

$sxbig: 30px;
$sbig: 15px;
$smedium: 10px;
$ssmall: 5px;
$sxsmall: 3px;

$fxbig: 18px;
$fbig: 15px;
$fmedium: 13px;
$fsmall: 12px;
$fxsmall: 10px;

$primary-color: #23527c;
$primary-color-opp: crimson;
$primary-color-opp2: forestgreen;
$warning-color: red;
$border-color: aliceblue;
$border-width: 1px;
$border-style: solid;
$border-color-dark: #23527c;
$menuitem-nonatomic-color: crimson;
$formview-background-color: aliceblue;
$leftmenu-background-color: #ffffff;
$rightmenu-background-color: transparent;
$disabled-color: gainsboro;

$btn-hover-bg-color: #cccccc;
$navigation-height: 55px;

$banner-height: 150px;
$footer-height: 30px;

$item-image-width: 174px;
$item-image-height: 118px;

$image-gallery-image-bg: silver;

$item-summary-height: 161px;

$icon-size: 24px;